<!-- {% for skill_category in include.skills %}
  <h3>{{ skill_category[0] | capitalize }}</h3>
  <ul>
    {% for skill in skill_category[1] %}
      <li>
        <span style="color: #f07;">{{ skill.name }}</span>
        {% if skill.level %} [{{ skill.level }}]{% endif %}
        {% if skill.description %} ({{ skill.description | capitalize }}){% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %} -->

<style>
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Membuat dua kolom */
  }

  .skill-list {
    list-style-type: none;
    padding: 0;
  }

  .skill-category h3 {
    font-size: 1rem; /* judul kategori juga bisa dikecilin sedikit */
    margin: 0 !important;
    padding: 0 !important;
  }

  .skill-list li {
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-indent: -0.5rem
  }

  .skill-list li span + span {
    font-style: italic;
    color: #666;
  }

  @media screen and (max-width: 768px) {
    .skills-container {
      grid-template-columns: 1fr;
    }
  }
</style>

<div class="skills-container">
  {% for skill_category in include.skills %}
    <div class="skill-category">
      <h3>{{ skill_category[0] | capitalize }}</h3>
      <ul class="skill-list">
        {% for skill in skill_category[1] %}
          <li>
            <span style="color: #f07;">{{ skill.name }}</span>
            {% if skill.description %} ({{ skill.description }}){% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
